# 1. Importing and exploring the data using a pandas dataframe

We start by importing our dataset. For this lab, we will use a subset of the data distributed for a Shared Task on sentiment analysis in tweets, conducted as part of <a href="http://alt.qcri.org/semeval2017/">SemEval 2017</a>.

We are interested in <a href="http://alt.qcri.org/semeval2017/task4/">Semeval Task 4A</a>. For convenience, one part of the data has been provided for you for this lab.

In [2]:
import pandas as pd
import gc
gc.enable()

In [3]:
input_file = 'NiaveBayesDataset.txt' #Input file, tab-delimited

In [4]:
#Our data has no header. Also, we only want the first 3 cols  -- see usecols argument
#Some lines have a fourth (date) column
data = pd.read_csv(input_file, sep='\t', encoding="utf-8", header=None, usecols=range(3))

In [5]:
#Now we can name our own columns
data.columns = ['ID', 'Polarity', 'Tweet']

## 1.1 Explore the data: head() and tail()

Try to explore the data using the following commands:
* head()
* tail()
* finding a column by name, e.g. data['Polarity']
* finding a specific row, by treating the data frame as you would a normal python list

In [6]:
data.head()

,ID,Polarity,Tweet
0,619950566786113536,neutral,"Picturehouse's, Pink Floyd's, 'Roger Waters: T..."
1,619969366986235905,neutral,Order Go Set a Watchman in store or through ou...
2,619971047195045888,negative,If these runway renovations at the airport pre...
3,619974445185302528,neutral,If you could ask an onstage interview question...
4,619987808317407232,positive,A portion of book sales from our Harper Lee/Go...

In [7]:
data.tail()

,ID,Polarity,Tweet
20627,681877834982232064,neutral,@ShaquilleHoNeal from what I think you're aski...
20628,681879579129200640,positive,"Iran ranks 1st in liver surgeries, Allah bless..."
20629,681883903259357184,neutral,Hours before he arrived in Saudi Arabia on Tue...
20630,681904976860327936,negative,@VanityFair Alex Kim Kardashian worth how to ...
20631,681910549211287552,neutral,I guess even Pandora knows Justin Bieber is a ...

## 1.2 Explore the data distribution by plotting Polarity

It is important to explore the distribution of data. We are often working with highly skewed distributions. In real-world applications, we don't normally find values which are equally distributed.

We're going to use numpy to run a quick procedure over the 'Polarity' column in our data frame, to find the unique values (which should be three) and their corresponding frequencies. This returns a pair: the unique values and their counts, in separate lists.

In [8]:
import numpy as np
#Use numpy to find unique polarity vals and count them
unique, counts = np.unique(data['Polarity'], return_counts=True)

Now we can create a new pandas dataframe, treating unique and counts as its columns.

In [9]:
#Now create a temporary pandas frame with these values and frequencies
polarities = pd.DataFrame({'polarity': unique, 'frequency': counts})

In [10]:
polarities.head()

   polarity  frequency
0  negative       3231
1   neutral      10342
2  positive       7059

Finally, we plot the values in the new dataframe. This uses a built-in plot() command, but we need to import the plot function from matplotlib first.

In [11]:
import matplotlib.pyplot as plt
#and plot
polarities.plot.bar(x='polarity', y='frequency', rot=0)

## 1.3 Splitting the data into training and testing

Split the data into two disjoint sets, for training (90%) and for testing (10%). The function below needs to be completed, such that it takes a dataframe and a ratio for the training proportion (e.g. 0.9) and randomly splits the data accordingly. One possible strategy:
1. collect the indices correaponding to all the rows in the DF 
2. shuffle them to create a random permutation using numpy
3. take the first x% as the training indices, the rest for training
4. use the convenient pandas iloc function to retrieve the rows for each set by their index

In [12]:
def split_train_test(data, ratio):
    train = data.iloc[0:round(len(data)*0.9)]
    test = data.iloc[round(len(data)*0.9):]
    return train, test

In [13]:
train, test = split_train_test(data, 0.9)

An alternative way is to split using a built-in function in scikit-learn, as shown below.

In [14]:
from sklearn.model_selection import train_test_split
#random_state param is just a random number seed
train, test = train_test_split(data, test_size = 0.1, random_state=42)

In [15]:
train.head()

,ID,Polarity,Tweet
4336,630134008718958592,neutral,Miguel Montero with a go-ahead RBI single in h...
13485,640191552065658881,neutral,Even maybe more odd is the Marion County judge...
4505,630465779511771136,neutral,"Frank Gifford, who died today at 84, worked th..."
20018,680634687463788544,neutral,@Julienaticadiks: You can now Listen new song ...
6497,633505111105409025,neutral,"@_alexisaguirre_ Not sure if you'd enjoy them,..."

# 2. Implementing a Naive Bayes classifier

We'll now use sklearn to implement a classifier. Our strategy will be to:
1. Extract the vocabulary from our training instances
2. Vectorise our training instances using the Bag of Words assumption
3. Initially we'll use word frequencies. So each document (each Tweet in our dataframe) becomes a list of numbers of length |V|, where, for each element of our vocabulary V, there is a corresponding number indicating the freqency of that word in the document.

## 2.1 The CountVectorizer class

A count vectorizer in sklearn is a class that transforms text into a vector of word features with their corresponding counts. The CountVEctorizer can apply a stop list (it's built in for English, so we can just tell it to use that one. But otherwise can be supplied as a list). See <a href="http://scikit-learn.org/stable/modules/feature_extraction.html#text-feature-extraction">the documentation for more details on this class</a> and the <a href="http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html#sklearn.feature_extraction.text.CountVectorizer">API reference</a>.

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
counter = CountVectorizer(stop_words='english',ngram_range=(1,2))

#pass all tweets in the training set to the count vectoriser and apply 'fit_transform'
train_features = counter.fit_transform(train['Tweet'])

In [34]:
train_features

<18568x175925 sparse matrix of type '<class 'numpy.int64'>'
	with 399129 stored elements in Compressed Sparse Row format>

The result is a large, sparse matrix where each row corresponds to a tweet. Each column corresponds to one of the words in the vocab.
You can convince yourself that this is the case by comparing the <b>shape</b> of the train array and the matrix:

In [18]:
train.shape

(18568, 3)

In [19]:
train_features.shape

(18568, 175925)

In a CountVectorizer matrix, columns correspond to words. We can see what words we have. You'll notice that there is a lot of noise, partly due to tweets containing urls etc.

In [20]:
counter.get_feature_names()

['00',
 '00 00p',
 '00 00pm',
 '00 05',
 '00 08',
 '00 10',
 '00 12',
 '00 13',
 '00 1st',
 '00 2nd',
 '00 30',
 '00 30pm',
 '00 amp',
 '00 bids',
 '00 brown',
 '00 buddha',
 '00 case',
 '00 centraleuropeantime',
 '00 cet',
 '00 ch4',
 '00 donation',
 '00 era',
 '00 hey',
 '00 hot',
 '00 http',
 '00 jan',
 '00 ken',
 '00 lydia',
 '00 meets',
 '00 mn',
 '00 mon',
 '00 newport',
 '00 old',
 '00 pm',
 '00 sam',
 '00 time',
 '00 uur',
 '00 voodoo',
 '00 yin',
 '00 yoga',
 '000',
 '000 000',
 '000 barrels',
 '000 candidates',
 '000 coins',
 '000 cops',
 '000 employees',
 '000 enjoyed',
 '000 fans',
 '000 fighters',
 '000 help',
 '000 https',
 '000 ilk',
 '000 innocents',
 '000 ira',
 '000 islamists',
 '000 jerry',
 '000 lamborghini',
 '000 legal',
 '000 muslims',
 '000 people',
 '000 spectators',
 '000 students',
 '000 things',
 '000 views',
 '000 women',
 '001',
 '001 940',
 '007',
 '007 film',
 '007 spectre',
 '00am',
 '00am 11',
 '00am christians',
 '00am live',
 '00am matthews',
 '00am new',
 '00am open',
 '00am pick',
 '00p',
 '00p yoga',
 '00pm',
 '00pm 30pm',
 '00pm 9th',
 '00pm armed',
 '00pm coors',
 '00pm dramatic',
 '00pm enjoy',
 '00pm gsc',
 '00pm http',
 '00pm paul',
 '00pm samples',
 '00pm super',
 '01',
 '01 26',
 '01 make',
 '01 seth',
 '01924',
 '01924 290870',
 '01m',
 '01m pixels',
 '02',
 '02 2016',
 '02 acad',
 '02 http',
 '02 otrabuffalo',
 '02 sep',
 '02 sept',
 '02 topical',
 '024yoesdgm',
 '024yoesdgm rollingstone',
 '02pqbxcg2w',
 '03',
 '03 06',
 '03 53',
 '03084455248',
 '03332386735',
 '038k9zoxov',
 '039',
 '039 girlfriend',
 '03ww4m3nqp',
 '04',
 '04 2015',
 '04 left',
 '04 remaining',
 '04 september',
 '04 want',
 '04an71l7hn',
 '04llfba03e',
 '04th',
 '04th today',
 '04uexsbx2q',
 '04zrtxszy4',
 '05',
 '05 09',
 '05 bed',
 '05 est',
 '05 pitch',
 '05 tee',
 '05 ucl',
 '052jgiqwvk',
 '05i80pwr4q',
 '05pm',
 '05pm showing',
 '06',
 '06 23',
 '06 finished',
 '06 thor',
 '06oilp9tr1',
 '07',
 '07 00',
 '07 11',
 '07 15',
 '07 burgoyne',
 '07 game',
 '07 nov',
 '07 october',
 '07 want',
 '08',
 '08 00',
 '08 09',
 '08 friday',
 '08 hats',
 '09',
 '09 10',
 '09 15',
 '09 28',
 '09 https',
 '09 lean',
 '09 nov',
 '0915',
 '0915 bbc2',
 '0966kas',
 '0966kas coz',
 '096q8eecc0',
 '09wpam7wh6',
 '09yjrefna5',
 '09zxe013f8',
 '0a6rbvqc9l',
 '0adxtgv1ri',
 '0ajhlefxar',
 '0amc0mdsha',
 '0b5eavru4q',
 '0bgabtay3p',
 '0bgabtay3p teachenglish',
 '0cd3jbknth',
 '0ci3gskleu',
 '0d69wqpvd9',
 '0d69wqpvd9 http',
 '0dv4heocvy',
 '0dv4heocvy https',
 '0dyljrpsmx',
 '0edfxsawhw',
 '0ewbjgjure',
 '0ffsxzymap',
 '0ftdlggkt7',
 '0hdszn5chx',
 '0hecetzwg9',
 '0hr5zp6ryu',
 '0hsi2cflkl',
 '0hu5p2eiul',
 '0hu5p2eiul yoga',
 '0iezqtinbn',
 '0ivuh9hhlj',
 '0ivuh9hhlj mlb',
 '0j3o93swwl',
 '0jvqrbq9bz',
 '0k4ms0u8go',
 '0kdh6f8dsy',
 '0lpmjwqtdw',
 '0ltlfitkip',
 '0ltzglsyk9',
 '0lvsrwwzml',
 '0m0pjvu9pz',
 '0mhukfackw',
 '0mmjf1klro',
 '0n5fcoohnb',
 '0ne',
 '0ne m0re',
 '0nfasgc94t',
 '0nfyut434f',
 '0njstrprjx',
 '0o2vqowrda',
 '0ogq1whwcg',
 '0ohnhbnhux',
 '0ombs8uwq8',
 '0ow0cc3q2g',
 '0p4f0g8nzh',
 '0p4f0g8nzh tv',
 '0p8uvrc6xo',
 '0pgtjpj6p8',
 '0qtaknz3hh',
 '0r6f3wblil',
 '0rgssz3j1b',
 '0rgssz3j1b wwe',
 '0syzfqcg7l',
 '0t402y1zps',
 '0t402y1zps twitterstorm',
 '0tguzzkua3',
 '0th',
 '0th time',
 '0tptx3v6um',
 '0udsnltbec',
 '0uhlgyg3u7',
 '0ve81uzovo',
 '0vtfunxls4',
 '0vxkhhgcij',
 '0vxkhhgcij yoga',
 '0vzbhbrfkm',
 '0w0votfvdj',
 '0w91odlx3n',
 '0w91odlx3n lovato',
 '0wfwzlbhbh',
 '0wydnfhlqb',
 '0x3oseqznr',
 '0x9kd0vm4b',
 '0xdt2a9gcm',
 '0xulqerqzn',
 '0y2llpytes',
 '0yeshp4i4d',
 '0ykehn4bz3',
 '0z4e8vop0l',
 '0z4e8vop0l rmas',
 '0zbvdhjgas',
 '0ztfmraru0',
 '10',
 '10 00',
 '10 000',
 '10 00am',
 '10 04',
 '10 10',
 '10 100',
 '10 11',
 '10 11am',
 '10 12',
 '10 15',
 '10 17',
 '10 1970',
 '10 19th',
 '10 2015',
 '10 2016',
 '10 30',
 '10 30am',
 '10 30mst',
 '10 30pm',
 '10 44',
 '10 45',
 '10 46',
 '10 49',
 '10 59',
 '10 8th',
 '10 alleged',
 '10 amp',
 '10 arabs',
 '10 asu',
 '10 august',
 '10 better',
 '10 boruto',
 '10 break',
 '10 candidates',
 '10 carlyfiorina',
 '10 check',
 '10 clock',
 '10 colto',
 '10 cool',
 '10 cornhole',
 '10 curtis',
 '10 dates',
 '10 day',
 '10 days',
 '10 debate',
 '10 dec',
 '10 december',
 '10 dj',
 '10 dudes',
 '10 english',
 '10 entry',
 '10 er',
 '10 fabriqmi',
 '10 faved',
 '10 female',
 '10 fishermen',
 '10 fly923',
 '10 fx',
 '10 game',
 '10 games',
 '10 gift',
 '10 global',
 '10 gop',
 '10 gucci',
 '10 help',
 '10 hit',
 '10 holes',
 '10 hour',
 '10 hours',
 '10 http',
 '10 huckabee',
 '10 iced',
 '10 inning',
 '10 innings',
 '10 jan',
 '10 jays',
 '10 jrtfootball',
 '10 live',
 '10 louis',
 '10 march',
 '10 mean',
 '10 million',
 '10 min',
 '10 mins',
 '10 minute',
 '10 minutes',
 '10 missing',
 '10 mom',
 '10 moments',
 '10 month',
 '10 murray',
 '10 musical',
 '10 naruto',
 '10 natfavebeatles',
 '10 nice',
 '10 non',
 '10 october',
 '10 pig',
 '10 play',
 '10 pm',
 '10 power106la',
 '10 preaching',
 '10 proclamationday',
 '10 randy',
 '10 rappers',
 '10 recall',
 '10 release',
 '10 republican',
 '10 republicans',
 '10 reuters',
 '10 reviews',
 '10 riverforestpl',
 '10 role',
 '10 running',
 '10 seasons',
 '10 seconds',
 '10 sept',
 '10 shirt',
 '10 shot',
 '10 shouldn',
 '10 shounen',
 '10 specific',
 '10 starting',
 '10 super',
 '10 tampa',
 '10 theopen',
 '10 theopen2015',
 '10 things',
 '10 think',
 '10 thor',
 '10 tied',
 '10 times',
 '10 timeshavechanged',
 '10 tomorrow',
 '10 tracks',
 '10 uk',
 '10 units',
 '10 vote',
 '10 weei',
 '10 weekend',
 '10 years',
 '10 yrs',
 '100',
 '100 000',
 '100 back2_the90s',
 '100 bats',
 '100 beer',
 '100 better',
 '100 boys',
 '100 cent',
 '100 coming',
 '100 committed',
 '100 convinced',
 '100 dec',
 '100 dm',
 '100 dollars',
 '100 edited',
 '100 fake',
 '100 finishes',
 '100 going',
 '100 got',
 '100 hit',
 '100 hope',
 '100 injured',
 '100 jacked',
 '100 level',
 '100 list',
 '100 louis',
 '100 million',
 '100 new',
 '100 pair',
 '100 peaked',
 '100 people',
 '100 piece',
 '100 pitches',
 '100 release',
 '100 rts',
 '100 seats',
 '100 section',
 '100 soldier',
 '100 sony',
 '100 strong',
 '100 sure',
 '100 thursday',
 '100 true',
 '100 visa',
 '100 voters',
 '100 yards',
 '100 years',
 '1000',
 '1000 civilians',
 '1000 enter',
 '1000 people',
 '1000 sat',
 '1000 soldiers',
 '1000 suns',
 '10000',
 '10000 sure',
 '100bn',
 '100bn gonna',
 '100days',
 '100days promised',
 '100facts',
 '100facts 76',
 '100m',
 '100m views',
 '100numbertwos50s60s',
 '100numbertwos50s60s sep',
 '100s',
 '100s youth',
 '100th',
 '100th career',
 '100th episode',
 '100th strikeout',
 '100wasteddays',
 '101',
 '101 children',
 '101 happy',
 '101 http',
 '101 staff',
 '101 sure',
 '101wkqx',
 '101wkqx sabra',
 '102',
 '102 93',
 '102 days',
 '1025fenwayweekend',
 '1025sendmebackstage',
 '1025sendmebackstage shirt',
 '103',
 '103 10',
 '103 career',
 '103 event',
 '1037292947291',
 '1037292947291 time',
 '103758',
 '103822',
 '104',
 '104 mph',
 '1043',
 '1043 2nd',
 '1057wror',
 '106',
 '106 sun',
 '1075theriver',
 '1075theriver contest',
 '1075theriver ed',
 '108',
 '108 face',
 '108 jorit',
 '1080',
 '1080 lyrics',
 '109',
 '109 pitches',
 '1099',
 '1099 jerusalem',
 '10a',
 '10a amp',
 '10am',
 '10am 11am',
 '10am 2pm',
 '10am 4pm',
 '10am 5pm',
 '10am 6pm',
 '10am 8pm',
 '10am breath',
 '10am cet',
 '10am dunkin',
 '10am est',
 '10am https',
 '10am let',
 '10am ll',
 '10am need',
 '10am noon',
 '10am ron',
 '10am saturday',
 '10am therapeutic',
 '10am tomorrow',
 '10inthehole',
 '10inthehole 8th',
 '10k',
 '10k naruto',
 '10million',
 '10million stg',
 '10mins',
 '10mins kane',
 '10p',
 '10p et',
 '10pm',
 '10pm come',
 '10pm sat',
 '10pm school',
 '10pm sogh',
 '10pm watch',
 '10th',
 '10th 10',
 '10th 11th',
 '10th 12th',
 '10th 17th',
 '10th 1pm',
 '10th 1st',
 '10th 50',
 '10th africa',
 '10th allow',
 '10th amend',
 '10th amendment',
 '10th amp',
 '10th anniv',
 '10th anniversary',
 '10th auction',
 '10th aug',
 '10th ball',
 '10th bc',
 '10th beat',
 '10th beautiful',
 '10th blue',
 '10th career',
 '10th centuries',
 '10th cometogether',
 '10th crazy',
 '10th currently',
 '10th curtis',
 '10th danny',
 '10th day',
 '10th declared',
 '10th degree',
 '10th demon',
 '10th drug',
 '10th ed',
 '10th final',
 '10th game',
 '10th gop',
 '10th grade',
 '10th graders',
 '10th hole',
 '10th http',
 '10th https',
 '10th inning',
 '10th insane',
 '10th jason',
 '10th kind',
 '10th list',
 '10th master',
 '10th means',
 '10th metal',
 '10th muharram',
 '10th nakama',
 '10th october',
 '10th outright',
 '10th past',
 '10th paul',
 '10th pick',
 '10th polls',
 '10th ps4',
 '10th qb',
 '10th rangers',
 '10th rbi',
 '10th reality',
 '10th really',
 '10th round',
 '10th seeing',
 '10th skin',
 '10th slot',
 '10th sort',
 '10th sports',
 '10th spot',
 '10th st',
 '10th start',
 '10th states',
 '10th steelers',
 '10th sytycd',
 '10th thanks',
 '10th time',
 '10th told',
 '10th trailers',
 '10th twilight',
 '10th tx',
 '10th walk',
 '10th wedding',
 '10th white',
 '10th ww',
 '10th year',
 '10x',
 '10x influential',
 '10xlp',
 '10xlp boxset',
 '11',
 '11 00',
 '11 00am',
 '11 00pm',
 '11 11',
 '11 11pm',
 '11 12',
 '11 12th',
 '11 13',
 '11 15am',
 '11 16',
 '11 16th',
 '11 1st',
 '11 2014',
 '11 2015',
 '11 30',
 '11 30am',
 '11 30pm',
 '11 35',
 '11 3rd',
 '11 40',
 '11 45',
 '11 45pm',
 '11 4th',
 '11 999',
 '11 ac',
 '11 album',
 '11 bmth',
 '11 boston',
 '11 churcfofchrist',
 '11 clearly',
 '11 contact',
 '11 curtis',
 '11 day',
 '11 days',
 '11 dec',
 '11 december',
 '11 east',
 '11 et',
 '11 extras',
 '11 falling',
 '11 foundry',
 '11 going',
 '11 grammy',
 '11 grammys',
 '11 gucci',
 '11 hijackers',
 '11 hits',
 '11 hours',
 '11 http',
 '11 https',
 '11 hug',
 '11 inning',
 '11 innocent',
 '11 jordan',
 '11 mariners',
 '11 milan',
 '11 months',
 '11 new',
 '11 niagra',
 '11 nicki',
 '11 nominations',
 '11 noon',
 '11 north',
 '11 october',
 '11 ominously',
 '11 open',
 '11 originally',
 '11 people',
 '11 pitchs',
 '11 plane',
 '11 pm',
 '11 police',
 '11 reuters',
 '11 rising',
 '11 row',
 '11 rules',
 '11 sam',
 '11 sep',
 '11 shall',
 '11 skybet',
 '11 spieth',
 '11 starts',
 '11 strikeouts',
 '11 ted',
 '11 theater',
 '11 tied',
 '11 time',
 '11 times',
 '11 topical',
 '11 vs',
 '11 wearing',
 '11 white',
 '11 won',
 '11 work',
 '11 yankees',
 '11 year',
 '11 yes',
 '11 zach',
 '110',
 '110 countries',
 '110 song',
 '110pm',
 '110pm start',
 '111',
 '111 december',
 '111 yes',
 '111cr',
 '111cr http',
 '112',
 '112 appearances',
 '1178',
 '1178 https',
 '118th',
 '118th position',
 '11909',
 '11909 backed',
 '11am',
 '11am caracal',
 '11am est',
 '11am going',
 '11am http',
 '11am make',
 '11am outthere',
 '11am pc',
 '11am pst',
 '11am rsvp',
 '11am saturday',
 '11clubroom',
 '11clubroom https',
 '11k',
 '11k 1er',
 '11ks',
 '11ks wins',
 '11mo',
 '11mo ago',
 '11pm',
 '11pm 2am',
 '11pm 4am',
 '11pm s2',
 '11th',
 '11th 00',
 '11th 14th',
 '11th 2001',
 '11th 2016',
 '11th 20th',
 '11th 7th',
 '11th accepting',
 '11th amp',
 '11th arrondissement',
 '11th baltimore',
 '11th centuries',
 '11th comandment',
 '11th commandment',
 '11th day',
 '11th forgotten',
 '11th going',
 '11th grade',
 '11th hmm',
 '11th hour',
 '11th http',
 '11th https',
 '11th include',
 '11th lifts',
 '11th like',
 '11th losing',
 '11th lost',
 '11th month',
 '11th niagara',
 '11th october',
 '11th open',
 '11th opened',
 '11th pick',
 '11th place',
 '11th player',
 '11th priced',
 '11th round',
 '11th sharknado',
 '11th shit',
 '11th sign',
 '11th sing',
 '11th singles',
 '11th sold',
 '11th tails',
 '11th taught',
 '11th td',
 '11th terrorists',
 '11th text',
 '11th theopen2015',
 '11th thinks',
 '11th time',
 '11th waiting',
 '11th war',
 '11th week',
 '11th year',
 '11th yelling',
 '11th yr',
 '11xexfdf83',
 '11xexfdf83 woeisme',
 '11yr',
 '11yr old',
 '12',
 '12 00',
 '12 000',
 '12 06',
 '12 08',
 '12 10',
 '12 100',
 '12 12',
 '12 13',
 '12 15',
 '12 17',
 '12 19',
 '12 1989',
 '12 2001',
 '12 2pm',
 '12 30',
 '12 30am',
 '12 30p',
 '12 30pm',
 '12 45pm',
 '12 50',
 '12 8p',
 '12 8th',
 '12 999',
 '12 9pm',
 '12 amctheatres',
 '12 amp',
 '12 april',
 '12 aug',
 '12 august',
 '12 bad',
 '12 bout',
 '12 boxing',
 '12 career',
 '12 character',
 '12 come',
 '12 comes',
 '12 curtis',
 '12 date',
 '12 david',
 '12 day',
 '12 days',
 '12 dec',
 '12 entering',
 '12 f4ntastic',
 '12 feet',
 '12 fight',
 '12 final',
 '12 floyd',
 '12 following',
 '12 friday',
 '12 games',
 '12 gaza',
 '12 going',
 '12 hours',
 '12 http',
 '12 https',
 '12 january',
 '12 jiffylubelive',
 '12 kcopher_3',
 '12 kendrick',
 '12 know',
 '12 lady',
 '12 ldcatlanta',
 '12 lead',
 '12 leader',
 '12 lol',
 '12 make',
 '12 mgm',
 '12 milan',
 '12 min',
 '12 monkeys',
 '12 months',
 '12 moto',
 '12 new',
 '12 noon',
 '12 obama',
 '12 odds',
 '12 paul',
 '12 people',
 '12 players',
 '12 pm',
 '12 poetic',
 '12 points',
 '12 possible',
 '12 professional',
 '12 rounds',
 '12 row',
 '12 runs',
 '12 sep',
 '12 september',
 '12 shawaal',
 '12 showdown',
 '12 spieth',
 '12 start',
 '12 straight',
 '12 street',
 '12 tied',
 '12 time',
 '12 today',
 '12 uk',
 '12 usa',
 '12 walker',
 '12 watch',
 '12 watching',
 '12 west',
 '12 wins',
 '12 yahweh',
 '12 yard',
 '12 year',
 '12 years',
 '12 yrs',
 '120',
 '120 000',
 '120 dbs',
 '120 good',
 '120 hmu',
 '120 paul',
 '120 rising',
 '120 tickets',
 '1200',
 '1200 yrs',
 '12000',
 '12000 contestants',
 '121',
 '121 22nd',
 '1237',
 '1237 june',
 '123nitin',
 '123nitin moto',
 '124',
 '124 brewery',
 '124rabbit',
 '124rabbit tonight',
 '125',
 '1250',
 '1250 vs',
 '128',
 '128 detainees',
 '129',
 '129 killed',
 '12999',
 '12999 9999',
 '12am',
 '12am 12',
 '12am cbb',
 '12noon',
 ...]

If you want to take a look at the features themselves, you can turn the sparse matrix object returned by the CountVectorizer into an array (this will be memory intensive, so you might get a memory error). Observe that most words just have zero values.

In [21]:
train_features.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## 2.3 Training the NB classifier

Training a classifier in sklearn involves these steps:
1. Initialising an instance of the MultinomialNB class
2. Fitting the classifier (forcing it to learn parameters) to the training data with corresponding labels.

Our training data is now <b>train_features</b>; the corresponding labels for each row are in the column <b>train['Polarity']</b>

The code below uses the sklearn built-in NB classifier.

In [22]:
from sklearn.naive_bayes import MultinomialNB

#Returns a fitter (trained) classifier
nb_classifier = MultinomialNB().fit(train_features, train['Polarity'])

## 2.4 Testing the classifier

Before we can apply our classifier, we need to also perform the same vectorization operations on the test set. However, we do not call fit_transform(), but only transform(). This is because the CountVectorizer has already been fit to our training data. We only want to extract the known features from the test set.

In [23]:
test_features = counter.transform(test['Tweet'])

Now we can try to apply it to the test data. This returns an array of predicted labels.

In [24]:
predictions = nb_classifier.predict(test_features)

In [42]:
#What is the prediction for the first tweet?
print('%r => %s - %r' % (test['Tweet'].iloc[0], predictions[0], test['Polarity'].iloc[0]))

"I may be mean with niall's legs sometimes but it doesnt mean i dont care" => neutral - 'neutral'

### Using Tfidf Transformer

In [56]:
from sklearn.feature_extraction.text import TfidfTransformer

In [57]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(train_features)
X_train_tfidf.shape

(18568, 175925)

In [58]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(train_features, train['Polarity'] )

In [75]:
docs_new = ['God is love, God is life', 'I want to die, life is shit, somebody kill me', 'I am a stupid boy who likes to play in the mud','Existence is shallow, there is no purpose, life has no meaning']
X_new_counts = counter.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = clf.predict(X_new_tfidf)

print(predicted)

['positive' 'negative' 'neutral' 'positive']

In [60]:
predicted2 = clf.predict(test_features)

In [66]:
print('%r => %s - %r' % (test['Tweet'].iloc[348], predicted2[348], test['Polarity'].iloc[348]))

'1st SCOTUS pisses off Christians with gay marriage LAW then rightly jails #kimdavies for breaking it ! #bravo https://t.co/nFE1qXe1s3' => negative - 'neutral'

## 2.5 Evaluation
Finally, we can look at some evaluation data:

In [69]:
from sklearn import metrics
print(metrics.classification_report(test['Polarity'], predictions))

              precision    recall  f1-score   support

    negative       0.70      0.17      0.28       308
     neutral       0.61      0.80      0.70      1036
    positive       0.65      0.57      0.61       720

   micro avg       0.63      0.63      0.63      2064
   macro avg       0.65      0.51      0.53      2064
weighted avg       0.64      0.63      0.60      2064

We can generate a <a href="http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html">confusion matrix</a> to see which categories tend to be confused with each other. Note that rows and columns are ordered alphabetically by label (negative, neutral, positive) so that, e.g. row 0 column 1 is the number of times the first class (negative) is mislabelled as the second (neutral).

In [27]:
print(metrics.confusion_matrix(test['Polarity'], predictions))

[[ 53 215  40]
 [ 20 831 185]
 [  3 307 410]]