In [44]:
import pandas as pd
import numpy as np

In [45]:
data = pd.read_csv('dirtyboi.csv')

In [46]:
data.head()

             name gender height  weight
JP           male  1.59m     10     NaN
Tony            M    180   74kg     NaN
`Roberta`  Female    168   64kg     NaN
Louise          F   1.73   65kg     NaN
Claire          F   1.60     61     NaN

In [47]:
print(data.index) 
len(data.index)

Index(['JP', 'Tony', '`Roberta`', 'Louise', 'Claire', 'Claire', ''Paul Pogba'',
       'Alvaro', 'Leon', 'Zack', 'Kros', 'marie-curie', 'Pjanic', 'Brad',
       'Joey', 'Michelle', 'Stephen', 'Brad', 'Jabba the Hutt'],
      dtype='object')

19

In [48]:
data = data.reset_index()

In [49]:
data.head()

       index    name gender height  weight
0         JP    male  1.59m     10     NaN
1       Tony       M    180   74kg     NaN
2  `Roberta`  Female    168   64kg     NaN
3     Louise       F   1.73   65kg     NaN
4     Claire       F   1.60     61     NaN

In [50]:
data.columns = ['Name','Gender', 'Height','Weight','Dont know']

In [51]:
data.head

<bound method NDFrame.head of               Name     Gender Height  Weight  Dont know
0               JP       male  1.59m      10        NaN
1             Tony          M    180    74kg        NaN
2        `Roberta`     Female    168    64kg        NaN
3           Louise          F   1.73    65kg        NaN
4           Claire          F   1.60      61        NaN
5           Claire          F   1.60      61        NaN
6     'Paul Pogba'        NaN   6'3"    93kg        NaN
7           Alvaro       male   1.65  62000g        NaN
8             Leon       male   6'2"      82        NaN
9             Zack        NaN   male      68      170.0
10            Kros   Mr. John   male   5"10'       74.0
11     marie-curie          F    NaN     155        NaN
12          Pjanic          M    NaN     NaN        NaN
13            Brad          M   1.83     NaN        NaN
14            Joey       Male    NaN    77kg        NaN
15        Michelle        NaN    177      73        NaN
16         Stephen          M    .82      73        NaN
17            Brad          m   1.83     NaN        NaN
18  Jabba the Hutt          M   1.75     500        NaN>

In [52]:
d = {'male': 1, 'm': 1, 'M': 1,'Male': 1 ,'F': 0, 'Female': 0}
data['Gender'].replace(d,inplace = True)

In [53]:
data.head

<bound method NDFrame.head of               Name     Gender Height  Weight  Dont know
0               JP          1  1.59m      10        NaN
1             Tony          1    180    74kg        NaN
2        `Roberta`          0    168    64kg        NaN
3           Louise          0   1.73    65kg        NaN
4           Claire          0   1.60      61        NaN
5           Claire          0   1.60      61        NaN
6     'Paul Pogba'        NaN   6'3"    93kg        NaN
7           Alvaro          1   1.65  62000g        NaN
8             Leon          1   6'2"      82        NaN
9             Zack        NaN   male      68      170.0
10            Kros   Mr. John   male   5"10'       74.0
11     marie-curie          0    NaN     155        NaN
12          Pjanic          1    NaN     NaN        NaN
13            Brad          1   1.83     NaN        NaN
14            Joey          1    NaN    77kg        NaN
15        Michelle        NaN    177      73        NaN
16         Stephen          1    .82      73        NaN
17            Brad          1   1.83     NaN        NaN
18  Jabba the Hutt          1   1.75     500        NaN>

In [54]:
data2 = pd.DataFrame()
data2 = data2.fillna(0) # with 0s rather than NaNs


data2['Gender'] = data['Gender']
data2['Height'] = data['Height']
data2['Weight'] = data['Weight']
data2['Dont know'] = data['Dont know']

In [55]:
data2.head

<bound method NDFrame.head of        Gender Height  Weight  Dont know
0           1  1.59m      10        NaN
1           1    180    74kg        NaN
2           0    168    64kg        NaN
3           0   1.73    65kg        NaN
4           0   1.60      61        NaN
5           0   1.60      61        NaN
6         NaN   6'3"    93kg        NaN
7           1   1.65  62000g        NaN
8           1   6'2"      82        NaN
9         NaN   male      68      170.0
10   Mr. John   male   5"10'       74.0
11          0    NaN     155        NaN
12          1    NaN     NaN        NaN
13          1   1.83     NaN        NaN
14          1    NaN    77kg        NaN
15        NaN    177      73        NaN
16          1    .82      73        NaN
17          1   1.83     NaN        NaN
18          1   1.75     500        NaN>

In [56]:
data2.loc[(data['Height'] == 'male')]
          ## we will need to shift these rows once to the left

       Gender Height Weight  Dont know
9         NaN   male     68      170.0
10   Mr. John   male  5"10'       74.0

In [57]:
data2.loc[(data['Height'] == 'male')] = data2.loc[(data['Height'] == 'male')].shift(-1,axis='columns') ## shifting the 2 rows to the left

In [58]:
data2.head

<bound method NDFrame.head of    Gender Height  Weight  Dont know
0       1  1.59m      10        NaN
1       1    180    74kg        NaN
2       0    168    64kg        NaN
3       0   1.73    65kg        NaN
4       0   1.60      61        NaN
5       0   1.60      61        NaN
6     NaN   6'3"    93kg        NaN
7       1   1.65  62000g        NaN
8       1   6'2"      82        NaN
9    male     68     NaN        NaN
10   male  5"10'     NaN        NaN
11      0    NaN     155        NaN
12      1    NaN     NaN        NaN
13      1   1.83     NaN        NaN
14      1    NaN    77kg        NaN
15    NaN    177      73        NaN
16      1    .82      73        NaN
17      1   1.83     NaN        NaN
18      1   1.75     500        NaN>

In [59]:
d = {'male': 1}
data2['Gender'].replace(d,inplace = True)

In [60]:
data2.head

<bound method NDFrame.head of     Gender Height  Weight  Dont know
0      1.0  1.59m      10        NaN
1      1.0    180    74kg        NaN
2      0.0    168    64kg        NaN
3      0.0   1.73    65kg        NaN
4      0.0   1.60      61        NaN
5      0.0   1.60      61        NaN
6      NaN   6'3"    93kg        NaN
7      1.0   1.65  62000g        NaN
8      1.0   6'2"      82        NaN
9      1.0     68     NaN        NaN
10     1.0  5"10'     NaN        NaN
11     0.0    NaN     155        NaN
12     1.0    NaN     NaN        NaN
13     1.0   1.83     NaN        NaN
14     1.0    NaN    77kg        NaN
15     NaN    177      73        NaN
16     1.0    .82      73        NaN
17     1.0   1.83     NaN        NaN
18     1.0   1.75     500        NaN>

In [61]:
## clean the rest, drop the dont know column, merge back to original dataframe

In [62]:
data2 = data2.drop(['Dont know'],axis=1)

In [63]:
d = {'62000g': '62kg','500':'500kg','155':'155kg','82':'82kg','61':'61kg','73':'73kg'}
data2['Weight'].replace(d,inplace = True)

In [64]:
data2.head

<bound method NDFrame.head of     Gender Height Weight
0      1.0  1.59m     10
1      1.0    180   74kg
2      0.0    168   64kg
3      0.0   1.73   65kg
4      0.0   1.60   61kg
5      0.0   1.60   61kg
6      NaN   6'3"   93kg
7      1.0   1.65   62kg
8      1.0   6'2"   82kg
9      1.0     68    NaN
10     1.0  5"10'    NaN
11     0.0    NaN  155kg
12     1.0    NaN    NaN
13     1.0   1.83    NaN
14     1.0    NaN   77kg
15     NaN    177   73kg
16     1.0    .82   73kg
17     1.0   1.83    NaN
18     1.0   1.75  500kg>

In [65]:
foot_cm_ratio = 30.48 ## 1 foot = 30.48cm

In [66]:
data = pd.merge(data, data2, left_index=True, right_index=True)

In [67]:
data.head()

        Name Gender_x Height_x Weight_x  Dont know  Gender_y Height_y Weight_y
0         JP        1    1.59m       10        NaN       1.0    1.59m       10
1       Tony        1      180     74kg        NaN       1.0      180     74kg
2  `Roberta`        0      168     64kg        NaN       0.0      168     64kg
3     Louise        0     1.73     65kg        NaN       0.0     1.73     65kg
4     Claire        0     1.60       61        NaN       0.0     1.60     61kg

In [68]:
data = data.drop(['Gender_x','Height_x','Weight_x','Dont know'],axis=1)

In [69]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m       10
1             Tony       1.0      180     74kg
2        `Roberta`       0.0      168     64kg
3           Louise       0.0     1.73     65kg
4           Claire       0.0     1.60     61kg
5           Claire       0.0     1.60     61kg
6     'Paul Pogba'       NaN     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11     marie-curie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
13            Brad       1.0     1.83      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       NaN      177     73kg
16         Stephen       1.0      .82     73kg
17            Brad       1.0     1.83      NaN
18  Jabba the Hutt       1.0     1.75    500kg>

In [70]:
data['Name'] = data.Name.str.replace("[({':`-]", "")  ## removing quotes from name column

In [71]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m       10
1             Tony       1.0      180     74kg
2          Roberta       0.0      168     64kg
3           Louise       0.0     1.73     65kg
4           Claire       0.0     1.60     61kg
5           Claire       0.0     1.60     61kg
6       Paul Pogba       NaN     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11      mariecurie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
13            Brad       1.0     1.83      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       NaN      177     73kg
16         Stephen       1.0      .82     73kg
17            Brad       1.0     1.83      NaN
18  Jabba the Hutt       1.0     1.75    500kg>

In [72]:
data['Gender_y'][6] = 1 # setting pogba to male 1
data['Gender_y'][15] = 0 # setting michelle to female 0

/home/joncauchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/joncauchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m       10
1             Tony       1.0      180     74kg
2          Roberta       0.0      168     64kg
3           Louise       0.0     1.73     65kg
4           Claire       0.0     1.60     61kg
5           Claire       0.0     1.60     61kg
6       Paul Pogba       1.0     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11      mariecurie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
13            Brad       1.0     1.83      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       0.0      177     73kg
16         Stephen       1.0      .82     73kg
17            Brad       1.0     1.83      NaN
18  Jabba the Hutt       1.0     1.75    500kg>

In [74]:
data['Height_y'][16] = 1.82

/home/joncauchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m       10
1             Tony       1.0      180     74kg
2          Roberta       0.0      168     64kg
3           Louise       0.0     1.73     65kg
4           Claire       0.0     1.60     61kg
5           Claire       0.0     1.60     61kg
6       Paul Pogba       1.0     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11      mariecurie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
13            Brad       1.0     1.83      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       0.0      177     73kg
16         Stephen       1.0     1.82     73kg
17            Brad       1.0     1.83      NaN
18  Jabba the Hutt       1.0     1.75    500kg>

In [76]:
data.drop_duplicates(subset ="Name",  ## remoce duplicates
                     keep = False, inplace = True)

In [77]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m       10
1             Tony       1.0      180     74kg
2          Roberta       0.0      168     64kg
3           Louise       0.0     1.73     65kg
6       Paul Pogba       1.0     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11      mariecurie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       0.0      177     73kg
16         Stephen       1.0     1.82     73kg
18  Jabba the Hutt       1.0     1.75    500kg>

1 stone = 6.35kg

In [80]:
data['Weight_y'][0]='63.5kg'

/home/joncauchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
data.head

<bound method NDFrame.head of               Name  Gender_y Height_y Weight_y
0               JP       1.0    1.59m   63.5kg
1             Tony       1.0      180     74kg
2          Roberta       0.0      168     64kg
3           Louise       0.0     1.73     65kg
6       Paul Pogba       1.0     6'3"     93kg
7           Alvaro       1.0     1.65     62kg
8             Leon       1.0     6'2"     82kg
9             Zack       1.0       68      NaN
10            Kros       1.0    5"10'      NaN
11      mariecurie       0.0      NaN    155kg
12          Pjanic       1.0      NaN      NaN
14            Joey       1.0      NaN     77kg
15        Michelle       0.0      177     73kg
16         Stephen       1.0     1.82     73kg
18  Jabba the Hutt       1.0     1.75    500kg>

'Jabba the Hutt' is an outlier. We can either remove this row of data or keep it but beware that this row of data will affect the mean in a negative way especially if youre trying to fill the missing data with the mean.

## A nice little exercise would be to continue doing the following:
    - Convert the height measure from feet and inches to cm
    - Convert the metre measurements to cm
    - Rename the columns
    - Research about proper data cleaning practices :)